$white: #f7f7f7;
$white-two: #e7e7e7;
$white-three: #f8f8f8;
$coral: #f95a42;
$orangish-red: #ef4407;
$reddish-orange: #f75d21;
$light-orange: #fca145;
$light-orange-two: #fc9e3f;
$warm-brown: #9b4d03;
$light-brown: #ad7952;
$dust: #bb9a6f;
$greyish-brown: #4a4a4a;
$warm-grey: #9b9b9b;
$white-0: rgba(255, 255, 255, 0);
$black-21: rgba(0, 0, 0, 0.21);
$dark-15: rgba(22, 24, 27, 0.15);
$dark-73: rgba(22, 24, 27, 0.73);
$dark-87: rgba(22, 24, 27, 0.87);
$butterscotch: #ffb850;
$butterscotch-two: #ffb446;
$butterscotch-three: #ffb13d;
$nice-blue: #0f6fb9;
$squash: #f5a623;
$apple-green: #7ed321;
$bright-lime: #84ef0e;
