@import "_colors";

h1 {
    font-size: 64px;
    color: #fff;
    font-weight: 700;
}

h2 {
    font-size: 56px;
    color: #000;
    font-weight: 700;
}

h3 {
    font-size: 36px;
    color:#4a4a4a;
    font-weight: 400;
}

h4 {
    font-size: 30px;
    color:#4a4a4a;
    font-weight: 400;
}

h5 {
    font-size: 24px;
    color: $orangish-red;
    font-weight: 400;
}