@import "_colors";

a {
    text-decoration: none;
    color: #000;
    font-weight: 300;
    transition: all .3s;
    cursor: pointer;
    &:hover {
        color: $orangish-red;
    }
    &.blue-link {
        color: $nice-blue;
        &:hover {
            color: $orangish-red;
        }
    }
    &.back {
        color: $light-orange-two;
        font-weight: 400;
        font-size: 22px;
        .icon-back {
            font-size: 20px;
            margin-right: 10px;
        }
        &:hover {
            color: $orangish-red;
        }
    }
}

.blue-link {
    color: $nice-blue;
    &:hover {
        cursor: pointer;
        color: $orangish-red;
    }
}

button {
    border: none;
    background: none;
    &:disabled {
        background: lighten($warm-grey, 20%) !important;
        cursor: not-allowed !important;
    }
}

.btn {
    border-radius: 4px;
    text-align: center;
    background: $orangish-red;
    color: #fff;
    font-weight: 700;
    border: none;
    transition: color .3s, background .3s;
    outline: none;
    padding: 14px;
    font-size: 16px;
    &:disabled {
        background: lighten($warm-grey, 20%) !important;
        cursor: not-allowed !important;
    }
    &:hover {
        background: $butterscotch-three;
        color: #fff;
        cursor: pointer;
    }
    &.white-btn {
        background: #fff;
        width: 100%;
        float: left;
        color: $orangish-red;
        padding: 19px 0;
        &:hover {
            background: $orangish-red;
            color: #fff;
        }
    }
    &.green-btn {
        background: $apple-green;
        color: #fff;
        padding: 13px 50px;
        &:hover {
            background: $bright-lime;
            color: #fff;
        }
    }
    &.offer-btn {
        background: #fff;
        padding: 10px 45px 10px 20px;
        font-size: 16px;
        font-weight: 300;
        color: #000;
        border-radius: 4px 0 0 4px;
        float: left;
        .btn-icon {
            color: $squash;
            margin-right: 15px;
            transition: all .3s;
        }
        .icon-offer {
            font-size: 14px;
        }
        &:hover {
            background: $orangish-red;
            color: #fff;
            cursor: pointer;
            .btn-icon {
                color: #fff;
            }
        }
        &.selected {
            background: $squash !important;
            color: #fff !important;
            cursor: default !important;
            .btn-icon {
                color: #fff;
            }
        }
    }
    &.seller-btn {
        @extend .offer-btn;
        border-radius: 0 4px 4px 0;
    }
    &.map-btn {
        @extend .offer-btn;
        .icon-map {
            font-size: 15px;
        }
    }
    &.list-btn {
        @extend .seller-btn;
        .icon-list {
            font-size: 15px;
        }
    }
    &.follow-btn {
        border-radius: 4px;
        background-color: #fff;
        border: solid 1px $light-orange-two;
        font-size: 12px;
        color: $orangish-red;
        padding: 5px;
        width: 90px;
        &:hover {
            border: solid 1px $orangish-red;
            background: $orangish-red;
            color: #fff;
        }
        &.follower {
            color: #fff;
            background: $butterscotch-three;
            border: solid 1px $butterscotch-three;
            &:hover {
                border: solid 1px $orangish-red;
                background: $orangish-red;
                color: #fff;
            }
        }
    }
}

input {
    background-color: #fff;
    border-radius: 4px;
    border: solid 2px $light-orange-two;
    outline: none;
    padding: 14px 20px;
    font-size: 16px;
    font-weight: 300;
    transition: border .3s;
    &.gray {
        border: solid 2px $white-two;
        &:focus {
            border: solid 2px $light-orange-two;
        }
        &::-webkit-input-placeholder {
            color: $warm-grey;
        }
        &:-moz-placeholder {
            color: $warm-grey;
        }

        &::-moz-placeholder {
            color: $warm-grey;
        }

        &:-ms-input-placeholder {
            color: $warm-grey;
        }
        &.calendar {
            background: url("../images/icon/calendar-2.svg") no-repeat right 15px center;
            background-color: #fff;
            padding-right: 50px;
        }
    }
}

.error-input {
    position: relative;
    margin-bottom: 23px;
    input {
        transition: border .3s;
    }
    label[for] {
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: 10px;
        font-weight: 300;
        color: #df322f;
        opacity: 0;
        visibility: hidden;
        transition: all .3s;
    }
    &.error {
        input {
            border: solid 2px $orangish-red;
            color: $orangish-red;
        }
        label[for] {
            bottom: -15px;
            opacity: 1;
            visibility: visible;
        }
    }
}

textarea {
    @extend input;
    width: 100%;
    padding: 20px 15px;
    resize: none;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
}

.textarea-with-counter {
    position: relative;
    .counter {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 10px;
        font-weight: 300;
        letter-spacing: 0.2px;
        color: #fff;
        background-color: $light-orange-two;
        border-top-right-radius: 4px;
        padding: 6px 10px;
        opacity: 0;
        visibility: hidden;
        transition: all.3s;
        &.show-counter  {
            opacity: 1;
            visibility: visible;
        }
    }
}

::-webkit-input-placeholder {
    color: #000;
}

:-moz-placeholder {
    color: #000;
}

::-moz-placeholder {
    color: #000;
}

:-ms-input-placeholder {
    color: #000;
}

:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}



select {
    @extend input;
    padding-left: 15px;
    padding-right: 45px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    background: url("../images/icon/st.svg") no-repeat right 15px center;
    &.map {
        background: url("../images/icon/map.svg") no-repeat 15px center, url("../images/icon/st.svg") no-repeat right 15px center;
        background-color: #fff;
        padding-left: 55px;
    }
    &.market {
        background: url("../images/icon/market.svg") no-repeat 15px center, url("../images/icon/st.svg") no-repeat right 15px center;
        background-color: #fff;
        padding-left: 55px;
    }
    &.gray {
        background: url("../images/icon/st-g.svg") no-repeat right 15px center;
        background-color: #fff;
        color: $warm-grey;
        &.change-select {
            color: #000
        }
        & option:disabled{
            display: none;
        }
    }
    &.gray-small {
        background: url("../images/icon/st-mal.svg") no-repeat right 8px center;
        background-color: #fff;
        padding: 13px 25px 14px 10px;
        border: solid 2px $white-two;
        font-size: 12px;
        color: $greyish-brown;
    }
    &.mini-sel {
        border: none;
        font-weight: 300;
        color: #4a4a4a;
    }
}

.breadcrumb {
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
    .active {
        color: lighten($warm-grey, 20%);
    }
    li {
        display: inline-block;
        font-size: 12px;
        color: $warm-grey;
        & + li:before {
            color: $warm-grey;
            content: "/\00a0";
        }
        a {
            color: $warm-grey;
            font-weight: 400;
            &:hover {
                color: $orangish-red;
            }
        }
    }
}

ul.orange-list {
    list-style: none;
    margin-top: 30px;
    li {
        padding: 0 0 30px 20px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 4px;
            height: 20px;
            border-radius: 4px;
            background-color: $light-orange-two;
        }
    }
}

ul.market-info-list {
    list-style: none;
    border-bottom: solid 1px #f7f7f7;
    li {
        padding: 0 0 20px 30px;
        position: relative;
        font-size: 14px;
        font-weight: 300;
        color: rgba(22, 24, 27, 0.87);
        &:nth-child(1) {
            &:before {
                background: url("../images/icon/marc.svg") no-repeat center;
                background-size: cover;
            }
        }
        &:nth-child(2) {
            &:before {
                width: 15px;
                height: 15px;
                background: url("../images/icon/phone.svg") no-repeat center;
                background-size: cover;
            }
        }
        &:last-child {
            padding: 0 0 0 30px;
        }
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 3px;
            width: 15px;
            height: 20px;
        }
    }
}

ul.calendar-list {
    list-style: none;
    text-align: left;
    li {
        padding: 0 0 10px 30px;
        position: relative;
        font-size: 15px;
        font-weight: 300;
        color: rgba(22, 24, 27, 0.87);
        &:last-child {
            padding: 0 0 0 30px;
        }
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 3px;
            width: 15px;
            height: 14px;
            background: url("../images/icon/calendar.svg") no-repeat center;
            background-size: cover;
        }
    }
}

.swiper-slide {
    text-align: center;
    background: #fff;

    /* Center slide text vertically */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.calendar-arrow {
    top: 5px !important;
    margin-top: 0 !important;
    background-image: none !important;
    width: 10px !important;
    height: 23px !important;
    &.right-arrow {
        right: 0;
    }
    &.left-arrow {
        left: 0;
    }
    .icon-right, .icon-left {
        font-size: 12px;
        color: $butterscotch-three;
        transition: color .3s;
        &:hover {
            color: $orangish-red;
        }
    }
}

.social {
    a {
        font-size: 18px;
        color: $butterscotch;
        &:hover {
            color: $orangish-red;
        }
        & + a {
            margin-left: 20px;
        }
    }
}

input[type=radio] {
    visibility: hidden;
    position: absolute;
    & + label {
        display: block;
        position: relative;
        width: 100%;
        padding-left: 35px;
        font-size: 14px;
        font-weight: 300;
        cursor: pointer;
        margin: 15px 0;
    }
    & + label:before {
        content: '';
        display: block;
        height: 20px;
        width: 20px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        border: 2px solid $light-orange-two;
        background-color: #fff;
        border-radius: 100%;
    }
    &:checked + label:after {
        content: '';
        display: block;
        height: 10px;
        width: 10px;
        background-color: $light-orange-two;
        border-radius: 100%;
        position: absolute;
        top: 0;
        left: 5px;
        bottom: 0;
        margin: auto;
    }
}

.trigger {
    width: 100%;
    height: 40px;
    max-width: 320px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 2px #f5a623;
    margin: 0 auto;
    input[type=radio] {
        & + label {
            width: 50%;
            text-align: center;
            padding-left: 0;
            font-size: 16px;
            margin: 0;
            line-height: 36px;
            float: left;
            transition: all .3s;
        }

        & + label:before {
            display: none;
        }

        &:checked + label:after {
            display: none;
        }

        &:checked + label {
            background-color: $light-orange-two;
            color: #fff;
        }
    }
}

input[type=checkbox] {
    visibility: hidden;
    position: absolute;
    left: 0;
    & + label {
        display: block;
        position: relative;
        width: 100%;
        padding-left: 35px;
        font-size: 12px;
        font-weight: 300;
        cursor: pointer;
    }
    & + label:before {
        content: '';
        display: block;
        height: 20px;
        width: 20px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        border: 2px solid $light-orange-two;
        background-color: #fff;
        border-radius: 4px;
    }
    &:checked + label:after {
        content: '';
        background: url(../images/icon/check.svg) no-repeat center;
        display: block;
        height: 11px;
        width: 12px;
        position: absolute;
        top: 0;
        left: 5px;
        bottom: 0;
        margin: auto;
    }
    &.day {
        & + label {
            border-radius: 4px;
            background-color: #fff;
            border: solid 2px $white-two;
            font-size: 12px;
            font-weight: normal;
            color: $warm-grey;
            padding: 12px 0;
            float: left;
            transition: all .3s;
            text-align: center;
            width: 50px;
            &:hover {
                border: solid 2px $light-orange-two;
            }
            &:before {
                display: none;
            }
            &:after {
                display: none;
            }
        }
        &:checked + label {
            border: solid 2px $light-orange-two;
            background-color: $light-orange-two;
            color: #fff;
        }
        &.checked-day {
            & + label {
                border: solid 2px $light-orange-two;
                background-color: $light-orange-two;
                color: #fff;
                &:hover {
                    background-color: lighten($light-orange-two, 7%);
                }
                &:before {
                    display: none;
                }
                &:after {
                    display: none;
                }
            }
            &:checked + label {
                border: solid 2px $orangish-red;
            }
        }
    }
    &.gray {
        & + label {
            color: $warm-grey;
            font-size: 16px;
        }

        & + label:before {
            border: 2px solid $white-two;
        }

        &:checked + label:before {
            border: 2px solid $light-orange-two;
        }
    }
}

.required {
    position: relative;
    &:before {
        content: "*";
        color: $coral;
        position: absolute;
        top: 0;
        right: -10px;
        font-size: 12px;
    }
    &.inside {
        &:before {
            right: 5px;
            top:3px
        }
    }
}

.offer-swiper {
    height: 100%;
    &:hover {
        .arrow {
            opacity: 1;
        }

        .swiper-button-disabled {
            opacity: 1 !important;
        }
    }
    .swiper-slide {
        background: no-repeat center;
        background-size: cover;
    }
    .arrow {
        width: 43px;
        height: 78px;
        margin-top: -39px;
        opacity: 0;
        transition: opacity .3s;
        .icon-right-b, .icon-left-b {
            color: #fff;
            font-size: 78px;
            transition: color .3s;
            &:hover {
                color: $light-orange-two;
            }
        }
    }

    .swiper-button-next {
        background-image: none;
        right: 0;
        left: auto;
    }

    .swiper-button-prev {
        background-image: none;
        left: 0;
        right: auto;
    }

    .swiper-button-disabled {
        opacity: 0 !important;
    }
    .swiper-button-disabled .icon-right-b, .swiper-button-disabled .icon-left-b {
        color: rgba(255, 255, 255, .35);
    }
}